* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  box-shadow: black;
}
.nav-Link {
  flex: 1;
  text-align: center;
}
.nav-Link ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-Link ul li a {
  color: blue;
  text-decoration: none;
  font-size: 13px;
}
.nav-Link ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: orange;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-Link ul li:hover::after {
  width: 100%;
}
select {
  color: blue;
  border: none;
}
.button {
  background-color: blue;
  color: #fff;
  border-radius: 10px;
  padding: 0.5rem;
  border: none;
  height: 39px;
  width: 145px;
}
.btn {
  flex: 1 1 0;
  background-color: #fff;
  color: blue;
  border: 2px solid blue;
  padding: 0.5rem;
  border-radius: 10px;
  height: 39px;
  width: 145px;
}
.button:hover {
  background: orange;
  transition: 0.5s;
  cursor: pointer;
}
.btn:hover {
  border: 1px solid orange;
  color: orange;
  cursor: pointer;
}
.firstSection {
  padding-bottom: 2rem;
}
.secondSection {
  margin: 4rem;
  overflow: hidden;
}
.secondSection h2 {
  padding-bottom: 10px;
  color: blue;
}
.secondSection {
  display: flex;
  justify-content: left;
}
.row {
  display: flex;
  justify-content: left;
  border: 2px solid blue;
  color: blue;
  padding: 0.5rem;
  border-radius: 10px;
}
.secondSection p {
  padding-bottom: 4rem;
  color: 3e5A74;
}
.row:hover {
  border: 1px solid orange;
  color: orange;
  transition: 0.5;
  cursor: pointer;
}
.secondSection img {
  width: 45%;
  height: 45%;
  padding-left: 4rem;
  padding-bottom: 2rem;
}
.thirdSection {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.why {
  padding-top: 8rem;
  margin-right: 6rem;
}
.thirdSection h2 {
  color: blue;
  padding-bottom: 20px;
}
span {
  color: orange;
}
.thirdSection img {
  width: 80%;
  height: 80%;
  padding-top: 4rem;
}
.thirdSection p {
  padding-bottom: 20px;
}
.thirdSection button {
  background-color: blue;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
.thirdSection button:hover {
  background: orange;
  transition: 0.5s;
  cursor: pointer;
}
.howItWorks {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
  color: var(--primary-primary, #5048ef);
  font-family: "Inter Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.forthSection h4 {
  color: blue;
  font-size: large;
}
.choose {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}
.choose h4 {
  padding-bottom: 10px;
}
.only {
  padding-top: 4rem;
}
.forthSection {
  padding-bottom: 6rem;
}
.reward {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.course-col {
  flex-basis: 31%;
  background: #e7eaff;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
/* h1 {
  font-size: 36px;
  font-weight: 600;
} */
.fa-regular {
  color: blue;
  font-size: large;
}
.fa-solid {
  color: blue;
  font-size: large;
}
.course h3 {
  padding-bottom: 10px;
}
.blow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding-bottom: 2rem;
}

.campus-col {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.campus-col img {
  width: 100%;
  height: auto;
  display: block;
}

.own {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: blue;
}
.fallen {
  background: var(--primary-sub, #F2A95A);
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  gap: 2rem;
}
.fallen button {
  background-color: blue;
  color: #fff;
  border-radius: 10px;
  padding: 0.5rem;
  border: none;
  height: 39px;
  width: 145px;
}
.fallen button:hover {
  background: black;
  transition: 0.5s;
  cursor: pointer;
}
.loveBtn {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  align-items: center;
}
.bulk {
  background-color: blue;
  color: #fff;
}
.faq {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}
.faq h4 {
  padding-bottom: 10px;
}
.term {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}
/* .faq button {
  padding: 10px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
} */
/* .faq .fa-solid{
  background-color: blue;
  color: #fff;
} */
.faq ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.newsletter {
  padding: 40px;
  height: 258px;
  width: 338px;
  background-color: #6c65f3ee;
  text-align: start;
  margin-bottom: 60px;
}
.newsletter form {
  padding: 20px 0px;
}
.newsletter p {
  font-size: small;
  font-weight: lighter;
}
.email-input {
  padding: 20px;
  border-radius: 10px;
  border: none;
}
.Head {
  background-color: #5048ef;
}
.text1 {
  align-self: stretch;
  text-align: center;
  color: white;
  font-size: 60px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 500;
  word-wrap: break-word;
  font-family: sans-serif;
  padding-bottom: 20px;
  padding-top: 3rem;
}
.text2 {
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  font-family: sans-serif;
  padding-bottom: 6rem;
}
.freeTemplate {
  padding-top: 2rem;
}
.freeTemplate h3 {
  color: #5048ef;
}
.digital {
  margin-left: 8rem;
  padding-bottom: 10px;
}
.freeTemplate button {
  padding: 10px;
  border-radius: 10px;
  color: #f2a95a;
  border-color: #f2a95a;
  background-color: #fff;
}
.appreciation {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  gap: 5px;
}
.graduation {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  gap: 5px;
}
.participation {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  gap: 5px;
}
.customize {
  margin-left: 8rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-family: sans-serif;
}
.newImg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2rem;
  margin-left: 8rem;
  padding-right: 4rem;
}
.step {
  /* display: flex;
  justify-content: space-around;
  padding-top: 2rem; */
  display: flex;
  width: 1214px;
  height: 462px;
  padding: 0px 16px;
  align-items: center;
  gap: 65px;
  flex-shrink: 0;
  margin-left: 7rem;
}
.another h2 {
  align-self: stretch;
  color: var(--primary-primary, #5048ef);
  font-family: "Inter Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 10px;
}
.another h4 {
  color: var(--primary-primary, #5048ef);
  font-family: "Inter Display";
  font-size: var(--Title-Large-Size, 22px);
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 10px;
}
.another p {
  width: 584px;
  color: #717274;
  font-family: "Inter Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.steper {
  display: flex;
  width: 1214px;
  height: 537px;
  padding: 0px 16px;
  align-items: center;
  gap: 150px;
  flex-shrink: 0;
  margin-left: 7rem;
  background-color: #e1e1e1;
}
.optional {
  margin-left: 8rem;
}
.anotherOptional h2 {
  align-self: stretch;
  color: var(--primary-primary, #5048ef);
  font-family: "Inter Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 20px;
}
.anotherOptional h4 {
  color: var(--primary-primary, #5048ef);
  font-family: "Inter Display";
  font-size: var(--Title-Large-Size, 22px);
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 10px;
}
.anotherOptional p {
  color: #717274;
  font-family: "Inter Display";
  font-size: var(--Title-Large-Size, 22px);
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 2rem;
}
.loveBtn span{
  color: #5048EF;
}


